<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments :: head"></div>
	<title>Departments</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center mt-5">University Departments</h1 >
		
		<!-- tabella departments -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Address</th>
					<th scope="col">Phone</th>
					<th scope="col">Email</th>
					<th scope="col">Website</th>
					<th scope="col">Head of Department</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${departments}">
					<td th:text="${item.name}" class="table-primary"></td>
					<td th:text="${item.address}" class="table-warning"></td>
					<td th:text="${item.phone}" class="table-success text-weight-bold"></td>
					<td th:text="${item.email}" class="table-secondary"></td>
					<td th:text="${item.website}" class="table-info"></td>
					<td th:text="${item.headOfDepartment}" class="table-danger"></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="fragments :: scripts"></div>
	</div>
</body>